/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.782);
}

/* LAYOUT */


/* HEADER */
header {
    background-color: white;
    width: 100%;
    height: 100px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN */
main {
    background-color: rgba(0, 0, 0, 0.679);
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: 700px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: calc(700px / 10);
    height: calc(700px / 10);
    border: 2px solid white;
}

.aqua {
    background-color: aqua;
}

/* FOOTER */
footer {
    background-color: white;
    padding: 10px;
    height: 50px;
}